<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- <% //let a=5 b=6%> 
    Biến a = <%= //a %> <br />
    Biến b = <%=// b %> <br />
    <% //let tong = a+b%> 
    Tổng a+b = <%=// tong %> -->
    <h1><%=// thongbao %></h1>

    <% for (hh of dshh) {%>

       <li> <%= hh.tenhh %>,<%= hh.soluong %> </li>

    <% } %>
  </body>
</html>
